@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../scss/components/variables";
@import "../scss/components/carousel";

.button, .btn, .btn-primary{
    background-color: $primary;
    border-color: $primary;
}

.btn:hover{
    background-color: $pink;
    border-color: $pink;
}

.navbar-toggler {
    background-color: $purple;
}