@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../scss/components/variables';
@import '../scss/components/carousel';
@import '../scss/components/nav';

.button,
.btn-primary,
.btn {
  background-color: $primary;
  border-color: $primary;
}

// .btn-primary {
//   background-color: $pink;
//   border-color: $pink;
// }

.btn:hover {
  background-color: $pink;
  border-color: $pink;
}

.btn:focus {
  background-color: $pink;
  border-color: $pink;
}

.navbar-toggler {
  background-color: $purple;
}

#navBtn {
  background-color: #8165ca;
}

nav {
  background-color: $purple;
}

.card {
  box-shadow: 1px 1px 25px $primary;
}
